.details {
    
    font-size: 2em;
    padding-top: 10px;
    margin-left: 20px;
}
.details ul {
    list-style-type:none;
    margin: 20px;
    padding: 20px;
}
.details ul button {
    background-color: #333;
    border: none;
    color: white;
    padding: 16px 64px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}