.details { 
    font-size: 2em;
    padding-top: 10px;
    margin-left: 20px;
}
.details h2{ 
    font-size: larger;
    border-left: 5px;
    margin-left: 20px;
}
.details ul {
    list-style-type:none;
    margin: 20px;
    padding: 20px;
    border-left: 5px solid #333;
    background-color: #f1f1f1;
}
.details ul li {
    list-style-type:none;
    margin: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    background:rgb(163, 163, 163);
}
.details ul button {
    background-color: #333;
    border: none;
    color: white;
    padding: 16px 64px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}