.Footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  max-width: 1920px; /* Adjust as needed */
  margin: 0px;
}

#footerList {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  padding-bottom: 100px; 
}

#footerList > li {
  display: inline-block;
}

#footerList > li.middle-link {
  position: relative;
}

#footerList > li a {
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 7px 24px;
  font-family: "din-2014", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 23px;
  font-weight: 700;
  display: block;
  min-width: 180px;
}

#footerList > li a:hover {
  background-color: #111;
}

.footer-logo {
  background-color: #333;
  position: absolute;
  right: 10px;
  max-width: 220px;
  padding: auto;
}

.blank {
  color: #333;
}

.social {
  background-color: #333;
  padding-right: 30px;
}
