/* Header.css */

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style the header */
header {
  background-color: #333;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  padding: 40px 20px; /* Adjust padding as needed */
}

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style the navigation links */
.Header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Center the navigation horizontally */
}

.Header ul li {
  margin-right: 100px;
}

.Header ul li:last-child {
  margin-right: 0;
}

.Header ul li a {
  color: #fff;
  text-decoration: none;
  font-family: "din-2014", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
}

.Header ul li a:hover {
  text-decoration: underline;
}

/* Style the logo */
.header-logo {
  max-width: 200px;
  position: absolute;
  top: 10px; /* Adjust the top position */
  left: 20px; /* Adjust the left position */
}
.left-login{
  margin-left: auto;

}
