.map-container {
  position: relative;
}

.map-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.mapImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.content2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #6b6969; /* Text color */
  z-index: 2;
}

.cen-text {
  font-size: 70px;
}
.button {
  display: inline-block;
  background-color: green;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}